
.contactDetails {
  .item {
    letter-spacing: 1.1px;
    line-height: 1.2;
    margin: 5px 0;
    color: #2b2f36;
    opacity: .9;
  }

  .aboutMe {

  }

  .lookingJob {

    .isLookingForAJob {

    }

    .skills {

    }
  }

  .contacts {

    .btn {
      margin-bottom: 10px;
    }

    h3 {
      text-align: right;
    }
  }

}