
.paginatorBlock {
  margin: 10px;
  border: 1px solid;
  text-align: center;
  min-height: 25px;

  span {
    cursor: pointer;
    display: inline-block;
    margin: 2px;
  }

  .selectedPage {
    font-weight: bold;
    color: #2deeaf;
  }
}