
.notFoundBlock {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #363a42;
  height: 91vh;
  .particles {
    //width: 60px;
    position: absolute;
    top: 67px;
    left: 157px;
    right: 0;
    bottom: 0;
    opacity: .8;
  }
  img {
    padding: 15px;
    max-width: 250px;
    margin: 0 auto;
  }
  div {
    span {
      font: normal bold 34px/1 "Lobster Two", cursive;
    }
  }
}

