
.notFoundBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    padding: 15px;
    max-width: 250px;
    margin: 0 auto;
  }
  div {
    span {
      font: normal bold 34px/1 "Lobster Two", cursive;
    }
  }
}