
.itemBlock {
  margin: 5px;
  background: aqua;
  border-radius: 3px;
  a{
    color: #363a42;
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: all .2s linear 0s;
  }
  a.active {
    color: #2b2f36;
    font-weight: bold;
    border-radius: 3px;
    background-color: #f5f6f7;
    transition: all .2s linear 0s;
  }
}