@import "src/common/SCSS/Mixins.module";


.headerBlock {
  width: 100%;
  height: 60px;
  background: #343434;
  grid-area: h;
  z-index: 1;
  border-color: #3e3e3e;


  header {
    width: 100%;
    height: 100%;
    @include flex(space-between, center);


    img {
      max-height: 85%;
      padding: 2px 5px;
    }

    div {
      padding: 2px 5px;
    }
  }
}