
.navBarBlock {
  background: chartreuse;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  grid-area: n;
  margin-left: 5px;
}

.link {
  padding: 20px;
  a{
    color: #363a42;
    text-decoration: none;
    display: block;
  }
  a.active {
    display: block;
    width: 100%;
    color: #2b2f36;
    font-weight: bold;
    border-radius: 3px;
    background-color: #f5f6f7;
  }
}