
.profileInfoBlock {
  margin: 13px 5px 120px;
  .descriptionBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 5px;
    .photo {
      margin: 5px;
      width: 30%;

      img {
        width: 150px;
        border-radius: 5px;
      }

      .btn {

      }

    }
    .name {
      width: 30%;
      margin: 5px;
    }
    .status {
      text-align: right;
      width: 30%;
      margin: 5px;
    }
  }
}