
.profileInfoBlock {
  margin: 13px 5px 120px;
  .profileBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 5px;
    .photo {
      margin: 5px;
      width: 30%;

      img {
        width: 150px;
        border-radius: 5px;
        opacity: 1;

      }

      .btn {
        position: absolute;
        bottom: 487px;
        left: 223px;
        opacity: 0;
        transition: all .5s linear;
        &:hover {
          transition: all .5s linear;
          opacity: .5;
        }
      }
    }
    .name {
      width: 30%;
      margin: 5px;
    }
    .status {
      text-align: right;
      width: 30%;
      margin: 5px;
    }
  }
  .descriptionBlock {
    transition: all 1s linear;

    img {
      width: 25px;
      cursor: pointer;
    }
  }
}