
.profileInfoBlock {
  margin: 13px 5px 120px;

  .profileBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 5px;

    .photo {
      margin: 5px;
      width: 33%;

      img {
        width: 150px;
        border-radius: 5px;
        opacity: 1;
        transition: all .5s linear 0s;

        &:hover {
          transform: scale(1.03);
          transition: all .5s linear 0s;
        }
      }

      .btn {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        height: 10%;
        width: 12%;
        bottom: 456px;
        left: 183px;
        opacity: 0;
        transition: all .5s linear;

        &:hover {
          transition: all .5s linear;
          opacity: .5;
        }
      }
    }

    .name {
      width: 30%;
      margin: 5px;
    }

    .status {
      text-align: right;
      width: 30%;
      margin: 5px;
    }
  }

  .descriptionBlock {
    border: 1px solid;
    transition: all 1s linear;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;

    .profileData {

    }

    .imgEdit {
      width: 25px;
      height: 25px;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #14a0ea;
      background-image: url("../../../assets/icon/edit.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        border: 1px solid #ffffff;
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }
}