
.loginFormBlock {
  width: 400px;
  margin: 75px auto 0;

    .logBlock {
      margin: 20px;
    }

    .form {

        .email {

      }

        .pass {

      }

        .rememberMe {

      }

        .btnBlock {

      }
    }
}