
.loginFormBlock {
  width: 400px;
  margin: 75px auto 0;

  .logBlock {
    margin: 50px;
  }

  form {

    .errorField {
      border: 2px red solid;
    }

    .email {
      margin: 5px;
    }

    .pass {
      margin: 5px;
    }

    .rememberMe {
      margin: 5px;
    }

    .btnBlock {

    }
  }
}