.App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 7fr;
    grid-template-areas:
    "h h"
    "n c";
    grid-gap: 5px;
    margin: 0 auto;
    font: normal bold 16px/1 "Lobster Two", cursive;
}


@media screen and (max-width: 380px){
    .App {
        grid-template-columns: 1fr 10fr;
    }
}

.content-wrapper {
    grid-area: c;

}




/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/
/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*убирает рамку у кнопки*/
button,
button:active,
button:focus {
    outline: none !important;
}
/*убираю браузерную обводку */
a:active, a:focus { outline: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}