
.dialogsBlock {
  display: flex;
  justify-content: center;
  padding: 5px 10px 3px 10px;
  flex-wrap: wrap;
  .users {
    width: 20%;
    margin-right: 15px;
    @media screen and (max-width: 375px){
      margin-right: 3px;
    }
  }
  .messBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    background: rgba(217, 217, 124, 0.3);
    border-radius: 8px;
    padding: 10px;
    h2 {
      text-align: center;
      margin: 0;
    }
    .mess {
      margin: 0 auto;
      padding: 10px;
      width: 80%;
    }
    .sendMessGroup {
      width: 100%;
      margin: 0 auto;
      .textField {
        margin: 0 auto;
        width: 80%;
      }
      .sendMess {
        width: 30%;
        margin: 0 auto;
      }
    }
  }
}